<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/hard.css" type="text/css" rel="stylesheet" />
    <title>Hard skills</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/"><BUtton>VOLTAR</BUtton> </a>
            <li><a href="#node">NODE.JS</a></li>
            <li><a href="#html">HTML</a></li>
            <li><a href="#css">CSS</a></li>
            <li><a href="#script">JAVASCRIPT</a></li>
            <li><a href="#sql">MYSQL</a></li>
            <li><a href="#sqlit">SQLITE</a></li>
            <li><a href="#type">TYPESCRIPT</a></li>
            <li><a href="#orm">TYPEORM</a></li>
            <li><a href="#git">GIT</a></li>
            <li><a href="#hub">GITHUB</a></li>
        </ul>
    </nav>
    <main>
        <section id="node">Node:<br>Duas LNW dois projetos com Node.js<br>
        Curso do Victor Lima 50 aulas sobre Node.js e mysql<br>
        Uma Maratona Discover da Rocketseat de Node.js</section>
        <section id="html">Html:<br>Curso em video Gustavo Guanabara 40:Hrs</section>
        <section id="css">CSS:<br>Curso em video Gustavo Guanabara 40:Hrs Html e css</section>
        <section id="script">Javascript:<br>Curso da prataforma da Rocketseat:Discover 
        com Mayk Brito e compania</section>
        <section id="sql">Mysql:<br>Curso Victor Lima,Node e Mysql
        com início com comandos direto<br> do cmd,e depois com orm</section>
        <section id="sqlit">Sqlit:<BR>Curso LNW com Node e Typeorm e Sqlit,<Br>
        evento da Rocketseat'Next level week'</section>
        <section id="type">Typescript:<br>Parte do pacote do Node com Express,para<br> 
        criar rotas na plicação</section>
        <section id="orm">Typeorm:<br>Curso LNW com Node e Typeorm e Sqlit,<Br>
        evento da Rocketseat'Next level week'</section>
        <section id="git">Git:<br>Varios tutoriais no Youtub pela nececidade ,<br>
        prendendo o basico para clonar um projeto do Git hub e para subir um projeto para o mesmo.</section>
        <section id="hub">Github:<br>https://github.com/alexandre945</section>

    </main>
</body>
</html>