<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" type="text/css" rel="stylesheet" />
    <title>Currículo</title>
</head>

<body>
    <h1>CURRÍCULO</h1>

    <div id="name">
        <lu>
            <li>NOME: &nbsp &nbsp ALEXANDRE</li><BR>
            <li>SOBRE NOME: &nbsp &nbsp SOUSA</li><BR>
            <LI>IDADE: &nbsp &nbsp 44</LI><BR>
             <li>DAT/NAC:&nbsp &nbsp 30/06/1977</li><br>
             <li>NATURALIDADE:&nbsp &nbsp LAMBARI-MG</li><br>   
            <LI>ENDEREÇO:<br>CIDADE: JESUÂNIA<BR>ESTADO:&nbsp &nbspMG </LI><BR>
            <LI>CARGO PRETENDIDO:&nbsp &nbsp PROGAMADOR BACK-END NODE.JS ('JUNIOR') </LI><BR>
            <LI>ULTIMO TRABALHO:&nbsp &nbspGARÇON</LI><BR>
        </lu>
        <div id="button">
            <a href="/Hard"><button type="text">HARD SKILLS</button></a>
            <a href="/Soft"><button type="text">SOFT SKILLS</button></a>



        </div>

    </div>
</body>

</html>