<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/soft.css" type="text/css" rel="stylesheet" />
    <title>Soft Skills</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/"><BUtton>VOLTAR</BUtton> </a>
            <li><a href="#comunica">COMUNICAÇÃO</a></li>
            <li><a href="#responsa">REPONSABILIDADE</a></li>
            <li><a href="#equipe">TRABALHO EM EQUIPE</a></li>
            <li><a href="#adapt">ADAPTABILIDADE</a></li>
            <li><a href="#criativo">CRIATIVIDADE</a></li>
            <li><a href="#persev">PERSEVERANÇA</a></li>
            <li><a href="#critica">ACEITAR CRITICAS</a></li>
            <li><a href="#tempo">GERENCIAMENTO DE TEMPO</a></li>
        </ul>
    </nav>
    <main>
        <section id="comunica">COMUNICAÇÃO:<BR>Sou uma pessoa bem comunicativa,sociavel<br>
        sempre tive bom relacionamento,com colegas de trabalho,sempre pronto para ajudar se <br>
        Se necessário,sempre respeitando as decisoês dos superiores.</section>
        <section id="responsa">RESPOSABILIDADE:<br>Sou uma pessoa que sempre fui muito responsavel<Br>
        me esforçando para cumprir as tarefas a mim destinadas,muito pontual com horario,<br>
        Não me importo de fazer hora extra para cumprir as metas se necessário.</section>
        <section id="equipe">EQUIPE:<br>Gosto muito de trabalhar em equipe,<br>
        Acho muito importamte entrosamento entre os menbros da equipe<br>
        assim como a comunicaçâo,chegando a esse nivel as coisas fuem muito bem.</section>
        <section id="adapt">ADAPTABILIDADE:<br>Eu costumo sempre me adaptar rapido,com<br>
        ambiente diferente,tanto com colegas diferente,com carros diferentes,com linguagens,<br>
        sou adaptavel.</section>
        <section id="criativo">CRIATIVIDADE;<br>Fico sempre imaginando um site,um progama,um app,<br>
        que vai impactar na vida das pessoas,essa é uma profissão que um bom profisional vai conseguir fazer. </section>
        <section id="persev">PERSEVERANÇA:<br>Essa é uma palavra que com certeza, quem<br>
        está pensando em seguir tem que ter,<br>Eu tive muitos desafios para fazer este,simples projeto<br>
        mas desistir nen passa pela minha cabeça.</section>
        <section id="critica">CRITICA:<br>A critica te mostra o olhar de outras pessoas,sobre<br>
        você,sobre seu trabalho,no minimo vale apena,refletir sobre.</section>
        <section id="tempo">TEMPO;<Br>Meu tempo sempre foi bem organizado,consigo,<br>
        dividir bem,consigo tempo de lazer,de trabalho<br>
        de compras,academia, e ainda consigo algum tempo livre,<br>
        que sempre aproveito para estudar."progamção".</section>
       
    </main>
   
</body>
</html>